name: te_general_plugin
description: "te_general_plugin: A versatile plugin that effortlessly expands your application's capabilities.‌"
version: 0.0.3
homepage: https://github.com/joymeet/te_general_plugin.git

environment:
  sdk: ">=3.7.2 <4.0.0" #^3.10.7
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  get: ^4.7.2
  dio: ^5.7.0
  go_router: ^17.0.1
  webview_flutter: ^4.13.0
  device_info_plus: ^12.3.0
  package_info_plus: ^9.0.0
  yaml: ^3.1.3
  permission_handler: ^12.0.0+1
  app_tracking_transparency: ^2.0.6+1
  webview_flutter_wkwebview: ^3.22.0
  geolocator: ^14.0.2
  screen_protector: ^1.4.10
  flutter_keychain: ^2.5.0
  purchases_flutter: ^8.10.1
  ios_native_utils: ^1.0.0
  in_app_review: ^2.0.10
  timezone: ^0.10.0
  keyboard_height_plugin: ^0.1.5
  connectivity_plus: ^7.0.0
  shared_preferences: ^2.5.3
  sign_in_with_apple: ^7.0.1
  wakelock_plus: ^1.2.3
  shelf: ^1.4.1            # WebServer 核心
  shelf_static: ^1.1.2
  flutter_inappwebview: ^6.1.5
  path_provider: ^2.1.5
  path: ^1.9.1
  crypto: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      # android:
      #   package: com.example.te_general_plugin
      #   pluginClass: TeGeneralPlugin
      ios:
        pluginClass: TeGeneralPlugin

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
